
.ccm-div{
    margin-top: 60px;
}
.ccm-title{
	font-family: product-sans-regular;
	font-size: 33px;
	font-weight: 400;
	letter-spacing: -0.51546px;
	line-height: 40px;
	text-decoration: none solid rgb(0, 68, 117);
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(0, 68, 117);
	text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}
.steps-div{
    background-color: white;
	color: rgba(0, 0, 0, 0.87);
	margin: 0px;
	padding: 40px 60px;
	max-height: none;
	min-height: 0px;
	max-width: 100%;
	min-width: 0px;
}
.steps-header{
	font-family: product-sans-regular;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	background-color: rgba(0, 0, 0, 0);
	color: rgb(51, 153, 254);
    text-align: left;
	margin: 0px;
	padding: 0px 0px 10px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;
}
.steps-sousheader{
	font-family: product-sans-regular;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.1176px;
	line-height: 19px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0);
	color: rgb(115, 113, 113);
	border: 0px none rgb(115, 113, 113);
}
.steps-paragraph{
	font-family: product-sans-regular;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.13132px;
	line-height: 14px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0);
	color: rgb(115, 113, 113);
	border: 0px none rgb(115, 113, 113);
    margin-top: -5px;
    margin-bottom: 9px;
    margin-left: 3px;
}
.paragraph-icons{
    margin-right: 3px;
}