body {
  margin: 0;
  font-family: product-sans-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "product-sans-regular";   /*Can be any text*/
  src: local("ProductSans-Regular"),
    url("./fonts/ProductSans-Regular.ttf") format("truetype");
}

code {
  font-family: product-sans-regular
}
